@page
<!--Author Ryan Pinkney

This is my buy shopping cart page
-->


@{

    <!--Set the tab title-->
    ViewData["Title"] = "Cart";
}

<!--Import the models-->
@model ismission7RyanPinkney.Pages.BuyModel
<!--Title-->
<h2>Your Shopping Cart</h2>

<!-- Table to display the shopping card-->
<table class="table table-bordered table-striped">
    <!--Column titles-->
    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var i in Model.Basket.Items)
        {
            <!--Rows-->
        <tr>
            <td>@i.Books.Title</td>
            <td>@i.Quantity</td>
            <td>$@i.Books.Price</td>
            <td>$@(i.Quantity * i.Books.Price).00</td> <!--Utilize the price of the book-->
            <!--Form delete button-->
            <td class="text-center">
                <form method="post" asp-page-handler="Remove">
                    <input type="hidden" name="projectId" value="@i.Books.BookId" />

                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

                    <button type="submit" class="btn btn-small btn-danger">Remove</button>
                </form>


            </td>

        </tr>


        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">
                Total:
            </td>
            <td>$@Model.Basket.CalcualteTotal().00</td> <!--Call the method to calculate the total-->
        </tr>

    </tfoot>

</table>

<!--Return url button-->
<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>