<!--Author Ryan Pinkney

This is my buy shopping cart page
-->


@{

    <!--Set the tab title-->
    ViewData["Title"] = "Cart";
}

<!--Import the models-->
@model ismission7RyanPinkney.Pages.BuyModel
<!--Title-->
<h2>Your Shopping Cart</h2>

<!-- Table to display the shopping card-->
<table class="table table-bordered table-striped">
    <!--Column titles-->
    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var i in Model.Basket.Items)
        {
            <!--Rows-->
            <tr>
                <td>@i.Books.Title</td>
                <td>@i.Quantity</td>
                <td>@i.Books.Price</td>
                <td>@(i.Quantity * i.Books.Price)</td> <!--Utilize the price of the book-->
            </tr>


        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">
                Total:
            </td>
            <td>@Model.Basket.CalcualteTotal().ToString("c")</td> <!--Call the method to calculate the total-->
        </tr>

    </tfoot>

</table>

<!--Return url button-->
<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>