<!--Author Ryan Pinkney

    This is my html page that will display the books
    -->
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!--Set the tab title-->
    ViewData["Title"] = "Book List";
}

<!--Retrieves the list from the controller-->
@model BooksViewModels
<!--Title-->
<h1>Books for Sale in Stock: </h1>

@foreach (Books iCount in Model.Books)
{<!-- Model needs to be capitalized-->

    <!-- Use bootstrap styling to design each individual book on the page.
        I followed the styling from the textbook as specified by the instructions.
        -->
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>

                <!-- Display the title-->
                @iCount.Title
                <span class="badge badge-pill badge-primary" style="float:right">

                    <!-- Display the price-->
                    <small>$@iCount.Price</small>
                </span>
            </h4>
        </div>

        <!--Display each of the values from the database-->
        <div class="card-text p-1">
            <p>Author: @iCount.Author</p>
            <p>Publisher: @iCount.Publisher</p>
            <p>ISBN: @iCount.Isbn</p>
            <p>Classification: @iCount.Classification</p>
            <p>Category: @iCount.Category</p>
            <p>Page Count: @iCount.PageCount</p>
        </div>
    </div>

}

<!--Buttons to go to the next page. I used the styling defined in the textbook-->
<h6>Pages: </h6>
<div page-blah-model="@Model.PageInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

<!--This is for mission 8-->
<!--This is a second test-->