@page "/admin/books/details/{id:long}"

<!--Author Ryan Pinkney

    This is my view book details page
    -->
<!--Title-->
<h3 class="bg-info text-white text-center p-1">Details</h3>

<!--Display all the fields-->
<table class="table table-sm table-striped table-bordered">
    <tbody>
        <tr><th>Book ID:</th><td>@book.BookId</td></tr>
        <tr><th>Title:</th><td>@book.Title</td></tr>
        <tr><th>Author:</th><td>@book.Author</td></tr>
        <tr><th>Publisher:</th><td>@book.Publisher</td></tr>
        <tr><th>Category:</th><td>@book.Category</td></tr>
        <tr><th>ISBN:</th><td>@book.Isbn</td></tr>
        <tr><th>Classification:</th><td>@book.Classification</td></tr>
        <tr><th>Page Count:</th><td>@book.PageCount</td></tr>
        <tr><th>Price:</th><td>@book.Price</td></tr>
    </tbody>
</table>

<!--Edit and back buttong-->
<NavLink class="btn btn-warning" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-secondary" href="/admin">Back</NavLink>


@code {

    // Set the database
    [Inject]
    public iBookstoreRepository repo { get; set; }

    //Define parameters
    [Parameter]
    public long Id { get; set; }

    public Books book { get; set; }

    protected override void OnParametersSet()
    {
        book = repo.Books.FirstOrDefault(x => x.BookId == Id);
    }

    // Set the edit url
    public string EditUrl => $"/admin/books/edit/{book.BookId}";


}
